body {
  font-family: "Roboto", sans-serif;
}

header {
  margin: 30px 80px 30px 30px;
  letter-spacing: 1.2px;
}

.navbar-collapse {
  font-size: 15px;
}

.title {
  padding: 60px 100px;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.welcome {
  color: rgb(230, 230, 230);
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.opening {
  font-size: 60px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .title {
    padding: 40px;
  }

  .opening {
    font-size: 30px;
  }
}
