body {
  font-family: "Roboto", sans-serif;
}

header {
  margin: 30px 80px 30px 30px;
  letter-spacing: 1.2px;
}

.navbar-collapse {
  font-size: 15px;
}

.title,
.aboutTitle,
.projectTitle {
  padding: 60px 100px;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.welcome {
  color: rgb(230, 230, 230);
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.opening {
  font-size: 60px;
  margin-bottom: 30px;
}

.navbar-collapse {
  margin-left: 60px;
}

.aboutPara {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.2px;
  padding: 40px 0;
}

.projectDesc {
  padding-bottom: 10px;
}
.images {
  margin-top: 40px;
}

.projectText {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1.2px;
  padding: 20px 40px;
}
.textProject {
  font-size: 24px;
}

@media (max-width: 576px) {
  .title {
    padding: 40px;
  }

  .opening {
    font-size: 30px;
  }

  .navbar-collapse {
    margin-left: 0px;
  }

  .aboutTitle {
    font-size: 15px;
    margin-left: -60px;
  }

  .aboutPara {
    font-size: 14px;
    margin-right: -40px;
  }

  .image2,
  .image3 {
    display: none;
  }
  .image1 {
    padding-left: 60px;
  }
}

.projectImage {
  padding: 0 30px 30px 30px;
}

.projectRow {
  margin-top: 40px;
  padding-top: 20px;
  margin-left: 20px;
}

@media (min-width: 577px) {
  .navbar-brand {
    padding-left: 60px;
  }
}

@media (max-width: 1000px) {
  .projectImage {
    padding: 0;
  }
}
